<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Статистика | Города</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 6px 12px;
        }
    </style>
</head>
<body>
    <h1>Города с кол-вом комментариев</h1>
    <table>
        <tr>
            <th>Название</th><th>Кол-во комментариев</th>
        </tr>
        $content
    </table>
</body>
</html>