<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Посмотреть комментарии</title>
    <style>
        .row {
            margin-bottom: 10px;
        }

        .field {
            padding: 3px 6px;
        }

        .button {
            color: black;
            font-weight: 700;
        }

        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
    <h1>Все комментарии:</h1>
    <ul>
        $content
    </ul>
</body>
</html>