<li>
    <div class="row">
        Номер комментария #$id
    </div>
    <div class="row">
        Фамилия: $last_name
    </div>
    <div class="row">
        Имя: $first_name
    </div>
    <div class="row">
        Отчество: $second_name
    </div>
    <div class="row">
        Телефон: $phone
    </div>
    <div class="row">
        Email: $email
    </div>
    <div class="row">
        Комментарий: $text
    </div>
    <div class="row">
        <a href="/comment/$id/remove/">Удалить комментарий</a>
    </div>
    <hr>
</li>